body {
	padding-bottom: 2rem;
	font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.bigtitle {
	font-variant: small-caps;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-weight: 900;
}

h1,h2 {
	font-variant: small-caps;
	font-weight: 700;
}

hr {
	border-bottom: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

.jumbotron {
	border-radius: 0rem;
	background-color: #000073;
	background-image: url("banner.svg");
	background-position: 50% 14%;
	background-size: 1500px;
	background-repeat: no-repeat, no-repeat;
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.small {
	font-size: 0.9rem;
}

.grayText {
	color: #999;
}

.lightGrayText {
	color: #afafaf;
}

.grayBorder {
	border: 1px solid #ddd;
}

.fitWidth {
	max-width: 100%;
}

.project-block {
	padding: 20px;
	border-radius: 0rem 0rem 0.25rem 0.25rem;
	background-color: #f2f2f2;
}

.top-block {
	margin-bottom: 16px;
}

.lastPara {
	margin-bottom: 0;
}

#rta figcaption {
	margin-bottom: 0.5rem;
}

.nav-tabs {
	border-color: rgba(255,255,255,0) !important;
}

.nav-link.active {
	border-color: rgba(255,255,255,0) !important;
	background-color: #f2f2f2 !important;
}

.nav-tabs {
	border: 0px;
	margin-bottom: 1px;
}

.nav-tabs .nav-link {
	border-bottom: 0px;
	text-align: center;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border: 1px solid #ddd;
	border-bottom: 0px;
}


@media (max-width: 405px) {
	.nav-tabs .nav-link {
		height: 113px;
	}
}

@media (min-width: 406px) and (max-width: 457px) {
	.nav-tabs .nav-link {
		height: 89px;
	}
}

@media (max-width: 472px) {
	.projectpartnerlogo {
		float: none;
	}
}

a.nav-link {
	display: table-cell;
	vertical-align: bottom;
}

img.logo {
	height: 2.3rem;
	margin-bottom: 0.4rem;
	margin-top: 0.3rem;
	margin-right: 1.4rem;
}

.projectpartnerlogo {
	width: 100px;
	float: left;
	margin-right: 1.5rem;
	margin-bottom: 0.6rem;
	margin-top: 0.25rem;
}

.logoblock {
	text-align: center;
}

.twitter-timeline {
	margin-bottom: -8px !important;
	width: 100%;
}

.follow-button {
	float: right;
	position: relative;
	top: 0.65em;
}

img.headshot {
	width: 85px;
}

.bio p {
	margin-bottom: .3rem;
	
	line-height: 1.4rem;
}

.member {
	margin-bottom: .5rem;
}

.email {
	margin-left: 1.2rem;
}

.fa-envelope {
	font-size: 1.2rem !important;
	position: relative;
	bottom: 2px;
	padding-bottom: 1px;
}

.fa-envelope:hover {
	border-bottom: 2px solid;
	margin-bottom: -2px;
}


/*Contact form*/
input, textarea, select, button {
	font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.form-group {
	margin-bottom: 0.5rem;
}


/*YouTube styling*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

.videoWrapperWrapper {
	max-width: 550px;
	position: relative;
	margin: auto;
}



/*Full Calendar*/
#calendar {
	font-size: 0.9rem !important;
}

.calendarWarning {
	margin-top: -.5rem;
	margin-bottom: .4rem;
}

.fc-list-heading {
	line-height: 1em;
}

.fc-list-item {
	border-bottom: 1px solid #ddd;
	line-height: 1.2em;
}

#addGCal {
	text-align: right;
	position: relative;
	top: 1px;
}


/*Swiper slideshow*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: -5px !important;
}

.swiper-pagination-bullet-active {
	background: #000073 !important;
}

.swiper-button-next, .swiper-button-prev {
	background-image: none !important;
	color: white;
	font-size: 3em !important;
	width: 50px !important;
	height: 50px !important;
	line-height: 50px !important;
	-webkit-filter: drop-shadow(1px 1px 2px #000)
}

.swiper-button-next {
	text-align: right;
}

.swiper-slide a {
	color: #dadaff;
	text-decoration: underline;
}

.swiper-slide figcaption {
	position: absolute;
	bottom: 1rem;
	background-color: rgba(0,0,0,.5);
	color: white;
	padding: 2px 10px;
	/*width: 100%;*/
}

@media (max-width: 551px) {
	.swiper-slide figcaption {
		font-size: 0.78em;
	}
}

@media (min-width: 552px) and (max-width: 767px) {
	.swiper-slide figcaption {
		font-size: 0.88em;
	}
}

.swiper-wrapper {
	width: 100%;
}
