body {
  padding-bottom: 2rem;
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.bigtitle {
	font-variant: small-caps;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-weight: 900;
}

h1,h2 {
	font-variant: small-caps;
	font-weight: 700;
}

.jumbotron {
	border-radius: 0rem;
	background-color: #000073;
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

img.logo {
	height: 2.3rem;
	margin-bottom: 0.4rem;
	margin-top: 0.3rem;
	margin-right: 1.4rem;
}

footer {
	font-size:.9rem;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
	background: rgb(241,241,241) !important;
}

#addGCal {
	text-align: right;
	position: relative;
	top: 1px;
}

/*
.navbar {
	padding-left: 0;
	font-size: 1.3rem;
}

.navbar-brand {
	height: 2rem;
	padding: 0;
	margin-right: 0;
}

.nav-link {
	padding-left: 1.5rem;
	padding-right: 0rem;
	font-weight: 700;
}

a.nav-item {
	color: #81acff;
}

a.nav-item:hover {
	color: #98d0ff;
}*/

.projectpartnerlogo {
	width: 100px;
	float: left;
	margin-right: 1.5rem;
	margin-bottom: 1.2rem;
	margin-top: 0.25rem;
}

img.headshot {
	width: 85px;
}

.bio p {
	margin-bottom: .3rem;
	
	line-height: 1.4rem;
}

.member {
	margin-bottom: .5rem;
}

.email {
	margin-left: 1.2rem;
}

h4 .fa-angle-down {
	margin-left: 0.6rem;
}

.fa-envelope {
	font-size: 1.2rem !important;
	position: relative;
	bottom: 2px;
	padding-bottom: 1px;
}

.fa-envelope:hover {
	border-bottom: 2px solid;
	margin-bottom: -2px;
}

 /* no radius on all cards... */
.card {
	border-radius: 0rem;
	border-color: #ddd;
}

 /* ...except the top card */
/*.topcard {
	border-radius: .25rem .25rem 0 0;
}*/

/* all card-headers have default border-radius on all four corners...
...except now we make it only the top one */
.not-top-card-header {
	border-radius: 0 !important;
}

.card-header {
	border-bottom: 0px;
	background-color: rgb(241, 241, 241);
}

.bottomcard {
	top: -1px;
}

input, textarea, select, button {
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.form-group {
	margin-bottom: 0.5rem;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapperWrapper {
	max-width: 600px;
}