body {
  padding-bottom: 2rem;
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.title {
	/*text-transform: uppercase;*/
	font-variant: small-caps;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 700;
}


.jumbotron {
	border-radius: 0rem;
	background-color: #000073;
	color: #fff;
	padding: 2rem 1rem 1.5rem 1rem;
}

img.title {
	width: 10rem;
	margin-bottom: 1rem;
}

footer {
	font-size:.9rem;
}

/*@media (min-width: 576px)
.jumbotron {
    padding: 2rem 2rem;
}*/